#parrallax{
    background-image: url(img/1.jpg);
    height: 500px;
    margin-bottom: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: Cosmic Sans MS, Cosmic Sans, Cursive;
    color: black;
    font-size: 50px;
}


.fadeimg:hover {
    opacity: 0.4;
    transition: 1.5s;
}

.borde {
    cursor: pointer;
}

.borde:hover {
    border-radius: 30px;
    transition: 0.3s;
}

.cursor{
    cursor: pointer;
}